.posts-page {
   color: black ;
  max-width: 600px;
  margin: 40px auto;
  padding: 10px;
}

.post-card {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.post-card img {
  width: 100%;
  border-radius: 6px;
  margin: 10px 0;
}

.post-card h3 {
  margin-bottom: 8px;
}

.post-card p {
  margin-bottom: 6px;
}

.post-card .date {
  font-size: 12px;
  color: #777;
}
