
.regis {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.regis-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0.5, 0.5, 0.5, 0.5);
  width: 350px;
  display: flex;
  flex-direction: column;
}

.regis-form input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 15px;
  color: black;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.regis-form input:focus {
  border-color: #8a2be2;
  outline: none;
}
.policy{
  color: rgba(0, 0, 0, 0.596);
  font-size: 10px;
  margin-bottom: 17px;
}
.logo1{
  font-size: 40px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(to right, #1877f2, #c217d9, #8a2be2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}